body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: #f7f8fa;
}

.navbar {
    background: #131921;
    color: white;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: 500;
}

.navbar a:hover {
    text-decoration: underline;
}

.card {
    background: white;
    border-radius: 12px;
    padding: 15px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.03);
}

button {
    background: #ff9900;
    border: none;
    padding: 10px 15px;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background: #e68a00;
}


.logo {
    color: #f08804;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
}

.navbar input {
    flex: 1;
    padding: 10px;
    border-radius: 4px;
    border: none;
}

.nav-right a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
}

/* PRODUCT */
.product-details {
    display: flex;
    gap: 40px;
    padding: 40px;
    background: white;
    max-width: 1100px;
    margin: 40px auto;
    border-radius: 6px;
}

.product-details img {
    width: 400px;
    height: 400px;
    object-fit: contain;
}

.info {
    flex: 1;
}

.info h2 {
    margin-top: 0;
}

.price {
    font-size: 26px;
    color: #b12704;
    margin: 15px 0;
}

.desc {
    color: #333;
    line-height: 1.6;
}

.buy-box {
    margin-top: 20px;
}

.buy-box button {
    padding: 12px 20px;
    margin-right: 10px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.add {
    background: #ffd814;
}

.buy {
    background: #ffa41c;
}
